<!-- ===================================================== -->
<!-- RENTENERSTBERECHNUNG TEIL 1 -->
<!-- ===================================================== -->


<!-- ===================================================== -->
<!-- NUR ADMIN: DATENSATZ HINZUFÜGEN -->
<!-- ===================================================== -->

<div *ngIf="isAdmin">

  <button
    (click)="addingRentenerstberechnungteil1()"
    class="add-button"
  >
    Rentenerstberechnung Teil 1 für
    {{ personName }}
    mit Personalnummer
    {{ personalnummer }}
    hinzufügen
  </button>

</div>


<!-- ===================================================== -->
<!-- ADMIN + READONLY: ZURÜCK -->
<!-- ===================================================== -->

<button
  (click)="navigateToPersonDetail()"
>
  Zurück zu Stammdatenbereich
</button>


<!-- ===================================================== -->
<!-- ADMIN + READONLY: VORHANDENE DATENSÄTZE -->
<!-- ===================================================== -->

<div
  *ngFor="let rentenerstberechnungteil1 of rentenerstberechnungteil1List"
  (dblclick)="viewRentenerstberechnungteil1Detail(
    rentenerstberechnungteil1._id
  )"
>

  <p>
    pensionsfaehigesMonatsgehalt:
    {{ rentenerstberechnungteil1.pensionsfaehigesMonatsgehalt }}
  </p>

</div>