<!-- show-person-detail.component.html -->
<!--
<div class="person-details">
    <h2>Person Details</h2>
    <table>

        <tr>
            <th>Personalnummer</th>
            <td>
              <ng-container *ngIf="!editMode; else editPersonalnummer">
                {{ person.personalnummer }}
              </ng-container>
              <ng-template #editPersonalnummer>
                <input type="text" [(ngModel)]="person.personalnummer" />
              </ng-template>
            </td>
          </tr>
     
    
      <tr>
        <th>Aktuelle Statusgruppe</th>
        <td>{{ person.aktuelleStatusgruppe }}</td>
      </tr>
      <tr>
        <th>Alte Statusgruppe</th>
        <td>{{ person.alteStatusgruppe }}</td>
      </tr>
      <tr>
        <th>Adresse</th>
        <td>{{ person.adresse }}</td>
      </tr>
      <tr>
        <th>Geschlecht</th>
        <td>{{ person.geschlecht }}</td>
      </tr>
      <tr>
        <th>Familienstand</th>
        <td>{{ person.familienstand }}</td>
      </tr>
      <tr>
        <th>Geburtsdatum</th>
        <td>{{ person.geburtsdatum }}</td>
      </tr>
      <tr>
        <th>Geheiratet am</th>
        <td>{{ person.geheiratetAm }}</td>
      </tr>
      <tr>
        <th>Gesellschaft</th>
        <td>{{ person.gesellschaft }}</td>
      </tr>
      <tr>
        <th>Versorgungsordnung</th>
        <td>{{ person.versorgungsordnung }}</td>
      </tr>
      <tr>
        <th>ArbVerhRentTr</th>
        <td>{{ person.arbVerhRentTr }}</td>
      </tr>
      <tr>
        <th>Unternehmenseintritt</th>
        <td>{{ person.unternehmenseintritt }}</td>
      </tr>
      <tr>
        <th>Unternehmensaustritt</th>
        <td>{{ person.unternehmensaustritt }}</td>
      </tr>
      <tr>
        <th>Ruhegeldfaehig Ab</th>
        <td>{{ person.ruhegeldfaehigAb }}</td>
      </tr>
      <tr>
        <th>Rentenbeginn</th>
        <td>{{ person.rentenbeginn }}</td>
      </tr>
      <tr>
        <th>Zusagedatum</th>
        <td>{{ person.zusagedatum }}</td>
      </tr>
      <tr>
        <th>Verstorben am</th>
        <td>{{ person.verstorbenAm }}</td>
      </tr>
      <tr>
        <th>Bemerkung</th>
        <td>{{ person.bemerkung }}</td>
      </tr>

      <tr>
        <th>Name</th>
        <td>
          <ng-container *ngIf="!editMode; else editName">
            {{ person.name }}
          </ng-container>
          <ng-template #editName>
            <input type="text" [(ngModel)]="person.name" />
          </ng-template>
        </td>
      </tr>

      <tr>
        <th>Aktuelle Statusgruppe</th>
        <td>
          <ng-container *ngIf="!editMode; else editaktuelleStatusgruppe">
            {{ person.aktuelleStatusgruppe }}
          </ng-container>
          <ng-template #editaktuelleStatusgruppe>
            <input type="text" [(ngModel)]="person.aktuelleStatusgruppe" />
          </ng-template>
        </td>
      </tr>



    </table>

    <button *ngIf="!editMode" (click)="toggleEditMode()">Edit Details</button>
    <button *ngIf="editMode" (click)="updatePerson()">Save Changes</button>
  </div>


-->

<div class="person-details">
    
    <h2>Personenstammsatz zu Personalnummer : {{ person.personalnummer }}</h2>
    <table class ="person-table">

    

      <tr>
        <th>Name</th>
        <td>
          <span *ngIf="!editMode">{{ person.name }}</span>
          <input *ngIf="editMode" type="text" [(ngModel)]="person.name">
        </td>
      </tr>

      <tr>
        <th>Personalnummer</th>
        <td>
          <span *ngIf="!editMode">{{ person.personalnummer }}</span>
          <input *ngIf="editMode" type="text" [(ngModel)]="person.personalnummer">
        </td>
      </tr>

      <tr>
        <th>Aktuelle Statusgruppe</th>
        <td>
          <span *ngIf="!editMode">{{ person.aktuelleStatusgruppe }}</span>
          <input *ngIf="editMode" type="text" [(ngModel)]="person.aktuelleStatusgruppe">
        </td>
      </tr>


      <tr>
        <th>Alte Statusgruppe</th>
        <td>
          <span *ngIf="!editMode">{{ person.alteStatusgruppe }}</span>
          <input *ngIf="editMode" type="text" [(ngModel)]="person.alteStatusgruppe">
        </td>
      </tr>

      <tr>
        <th>Adresse</th>
        <td>
          <span *ngIf="!editMode">{{ person.adresse }}</span>
          <input *ngIf="editMode" type="text" [(ngModel)]="person.adresse">
        </td>
      </tr>


      <tr>
        <th>Geschlecht</th>
        <td>
          <span *ngIf="!editMode">{{ person.geschlecht }}</span>
          <input *ngIf="editMode" type="text" [(ngModel)]="person.geschlecht">
        </td>
      </tr>


      <tr>
        <th>Familienstand</th>
        <td>
          <span *ngIf="!editMode">{{ person.familienstand }}</span>
          <input *ngIf="editMode" type="text" [(ngModel)]="person.familienstand">
        </td>
      </tr>


      <tr>
        <th>Geburtsdatum</th>
        <td>
          <span *ngIf="!editMode">{{ person.geburtsdatum }}</span>
          <input *ngIf="editMode" type="date" [(ngModel)]="person.geburtsdatum">
        </td>
      </tr>


      <tr>
        <th>Geheiratet am</th>
        <td>
          <span *ngIf="!editMode">{{ person.geheiratetAm }}</span>
          <input *ngIf="editMode" type="date" [(ngModel)]="person.geheiratetAm">
        </td>
      </tr>

      <tr>
        <th>Gesellschaft</th>
        <td>
          <span *ngIf="!editMode">{{ person.gesellschaft }}</span>
          <input *ngIf="editMode" type="text" [(ngModel)]="person.gesellschaft">
        </td>
      </tr>


      <tr>
        <th>Versorgungsordnung</th>
        <td>
          <span *ngIf="!editMode">{{ person.versorgungsordnung }}</span>
          <input *ngIf="editMode" type="text" [(ngModel)]="person.versorgungsordnung">
        </td>
      </tr>


      <tr>
        <th>ArbVerhRentTr</th>
        <td>
          <span *ngIf="!editMode">{{ person.arbVerhRentTr }}</span>
          <input *ngIf="editMode" type="number" [(ngModel)]="person.arbVerhRentTr">
        </td>
      </tr>


      <tr>
        <th>Unternehmenseintritt</th>
        <td>
          <span *ngIf="!editMode">{{ person.unternehmenseintritt }}</span>
          <input *ngIf="editMode" type="date" [(ngModel)]="person.unternehmenseintritt">
        </td>
      </tr>


      <tr>
        <th>Unternehmensaustritt</th>
        <td>
          <span *ngIf="!editMode">{{ person.unternehmensaustritt }}</span>
          <input *ngIf="editMode" type="date" [(ngModel)]="person.unternehmensaustritt">
        </td>
      </tr>


      <tr>
        <th>Ruhegeldfähig Ab</th>
        <td>
          <span *ngIf="!editMode">{{ person.ruhegeldfaehigAb }}</span>
          <input *ngIf="editMode" type="date" [(ngModel)]="person.ruhegeldfaehigAb">
        </td>
      </tr>


      <tr>
        <th>Rentenbeginn</th>
        <td>
          <span *ngIf="!editMode">{{ person.rentenbeginn }}</span>
          <input *ngIf="editMode" type="date" [(ngModel)]="person.rentenbeginn">
        </td>
      </tr>


      <tr>
        <th>Zusagedatum</th>
        <td>
          <span *ngIf="!editMode">{{ person.zusagedatum }}</span>
          <input *ngIf="editMode" type="date" [(ngModel)]="person.zusagedatum">
        </td>
      </tr>


      <tr>
        <th>Verstorben Am</th>
        <td>
          <span *ngIf="!editMode">{{ person.verstorbenAm }}</span>
          <input *ngIf="editMode" type="date" [(ngModel)]="person.verstorbenAm">
        </td>
      </tr>


      <tr>
        <th>Bemerkung</th>
        <td>
          <span *ngIf="!editMode">{{ person.bemerkung }}</span>
          <input *ngIf="editMode" type="text" [(ngModel)]="person.bemerkung">
        </td>
      </tr>
      





     

      
      <!-- Add similar blocks for other fields -->
    </table>

    <div class="button-container">
      <button class = "add-button" *ngIf="!editMode" (click)="toggleEditMode()">Personalstammsatz bearbeiten</button>
      <button class = "add-button"  *ngIf="editMode" (click)="saveChanges()">Speichern</button>
      <button class = "add-button"  (click)="navigateToShowRentenerstberechnungteil1()">Rentenerstberechnungteil1</button>
      <button class = "add-button"  (click)="navigateToShowRentenerstberechnungteil2()">Rentenerstberechnungteil2</button>
      <button class = "add-button"  (click)="navigateToEhegattenDaten()">Ehegatten Daten</button>
      <button class = "add-button"  (click)="navigateToPensionsDaten()">Pensions & Ruhegeldfähige Daten</button>
      <button class = "add-button"  (click)="navigateToDatenbzglderlaufendenrente()">daten bzgl. der laufenden Rente</button>
      <button class = "add-button"  (click)="navigateToPersonaldatenzumverbliebenenangehoerigen()">personaldatenZumVerbliebenenAngehoerigen</button>
      <button class = "add-button"  (click)="deletePerson()">Personenstammsatz löschen</button>
      <button class = "add-button"  (click)="navigateToPersonlist()">Zurück zur Personenübersicht</button>
      <button class="add-button" (click)="exportPersonData()">Daten exportieren in CVC</button>
      <button class="add-button" (click)="exportPersonDataToTxt()">Daten exportieren in TXT</button>


      
    </div>
   
  </div>
  