<div class="person-details">

  <h2>
    Personenstammsatz zu Personalnummer :
    {{ person.personalnummer }}
  </h2>


  <table class="person-table">


    <!-- ================================================= -->
    <!-- NAME -->
    <!-- ================================================= -->

    <tr>

      <th>
        Name
      </th>

      <td>

        <span *ngIf="!editMode">
          {{ person.name }}
        </span>

        <input
          *ngIf="editMode"
          type="text"
          [(ngModel)]="person.name"
        >

      </td>

    </tr>


    <!-- ================================================= -->
    <!-- PERSONALNUMMER -->
    <!-- ================================================= -->

    <tr>

      <th>
        Personalnummer
      </th>

      <td>

        <span *ngIf="!editMode">
          {{ person.personalnummer }}
        </span>

        <input
          *ngIf="editMode"
          type="text"
          [(ngModel)]="person.personalnummer"
        >

      </td>

    </tr>


    <!-- ================================================= -->
    <!-- AKTUELLE STATUSGRUPPE -->
    <!-- ================================================= -->

    <tr>

      <th>
        Aktuelle Statusgruppe
      </th>

      <td>

        <span *ngIf="!editMode">
          {{ person.aktuelleStatusgruppe }}
        </span>

        <input
          *ngIf="editMode"
          type="text"
          [(ngModel)]="person.aktuelleStatusgruppe"
        >

      </td>

    </tr>


    <!-- ================================================= -->
    <!-- ALTE STATUSGRUPPE -->
    <!-- ================================================= -->

    <tr>

      <th>
        Alte Statusgruppe
      </th>

      <td>

        <span *ngIf="!editMode">
          {{ person.alteStatusgruppe }}
        </span>

        <input
          *ngIf="editMode"
          type="text"
          [(ngModel)]="person.alteStatusgruppe"
        >

      </td>

    </tr>


    <!-- ================================================= -->
    <!-- ADRESSE -->
    <!-- ================================================= -->

    <tr>

      <th>
        Adresse
      </th>

      <td>

        <span *ngIf="!editMode">
          {{ person.adresse }}
        </span>

        <input
          *ngIf="editMode"
          type="text"
          [(ngModel)]="person.adresse"
        >

      </td>

    </tr>


    <!-- ================================================= -->
    <!-- GESCHLECHT -->
    <!-- ================================================= -->

    <tr>

      <th>
        Geschlecht
      </th>

      <td>

        <span *ngIf="!editMode">
          {{ person.geschlecht }}
        </span>

        <input
          *ngIf="editMode"
          type="text"
          [(ngModel)]="person.geschlecht"
        >

      </td>

    </tr>


    <!-- ================================================= -->
    <!-- FAMILIENSTAND -->
    <!-- ================================================= -->

    <tr>

      <th>
        Familienstand
      </th>

      <td>

        <span *ngIf="!editMode">
          {{ person.familienstand }}
        </span>

        <input
          *ngIf="editMode"
          type="text"
          [(ngModel)]="person.familienstand"
        >

      </td>

    </tr>


    <!-- ================================================= -->
    <!-- GEBURTSDATUM -->
    <!-- ================================================= -->

    <tr>

      <th>
        Geburtsdatum
      </th>

      <td>

        <span *ngIf="!editMode">
          {{ person.geburtsdatum | germanDate }}
        </span>

        <input
          *ngIf="editMode"
          type="date"
          [(ngModel)]="person.geburtsdatum"
        >

      </td>

    </tr>


    <!-- ================================================= -->
    <!-- GEHEIRATET AM -->
    <!-- ================================================= -->

    <tr>

      <th>
        Geheiratet am
      </th>

      <td>

        <span *ngIf="!editMode">
          {{ person.geheiratetAm | germanDate }}
        </span>

        <input
          *ngIf="editMode"
          type="date"
          [(ngModel)]="person.geheiratetAm"
        >

      </td>

    </tr>


    <!-- ================================================= -->
    <!-- GESELLSCHAFT -->
    <!-- ================================================= -->

    <tr>

      <th>
        Gesellschaft
      </th>

      <td>

        <span *ngIf="!editMode">
          {{ person.gesellschaft }}
        </span>

        <input
          *ngIf="editMode"
          type="text"
          [(ngModel)]="person.gesellschaft"
        >

      </td>

    </tr>


    <!-- ================================================= -->
    <!-- VERSORGUNGSORDNUNG -->
    <!-- ================================================= -->

    <tr>

      <th>
        Versorgungsordnung
      </th>

      <td>

        <span *ngIf="!editMode">
          {{ person.versorgungsordnung }}
        </span>

        <input
          *ngIf="editMode"
          type="text"
          [(ngModel)]="person.versorgungsordnung"
        >

      </td>

    </tr>


    <!-- ================================================= -->
    <!-- ARBVERHRENTTR -->
    <!-- ================================================= -->

    <tr>

      <th>
        ArbVerhRentTr
      </th>

      <td>

        <span *ngIf="!editMode">
          {{ person.arbVerhRentTr }}
        </span>

        <input
          *ngIf="editMode"
          type="number"
          [(ngModel)]="person.arbVerhRentTr"
        >

      </td>

    </tr>


    <!-- ================================================= -->
    <!-- UNTERNEHMENSEINTRITT -->
    <!-- ================================================= -->

    <tr>

      <th>
        Unternehmenseintritt
      </th>

      <td>

        <span *ngIf="!editMode">
          {{ person.unternehmenseintritt | germanDate }}
        </span>

        <input
          *ngIf="editMode"
          type="date"
          [(ngModel)]="person.unternehmenseintritt"
        >

      </td>

    </tr>


    <!-- ================================================= -->
    <!-- UNTERNEHMENSAUSTRITT -->
    <!-- ================================================= -->

    <tr>

      <th>
        Unternehmensaustritt
      </th>

      <td>

        <span *ngIf="!editMode">
          {{ person.unternehmensaustritt | germanDate }}
        </span>

        <input
          *ngIf="editMode"
          type="date"
          [(ngModel)]="person.unternehmensaustritt"
        >

      </td>

    </tr>


    <!-- ================================================= -->
    <!-- RUHEGELDFÄHIG AB -->
    <!-- ================================================= -->

    <tr>

      <th>
        Ruhegeldfähig Ab
      </th>

      <td>

        <span *ngIf="!editMode">
          {{ person.ruhegeldfaehigAb | germanDate }}
        </span>

        <input
          *ngIf="editMode"
          type="date"
          [(ngModel)]="person.ruhegeldfaehigAb"
        >

      </td>

    </tr>


    <!-- ================================================= -->
    <!-- RENTENBEGINN -->
    <!-- ================================================= -->

    <tr>

      <th>
        Rentenbeginn
      </th>

      <td>

        <span *ngIf="!editMode">
          {{ person.rentenbeginn | germanDate }}
        </span>

        <input
          *ngIf="editMode"
          type="date"
          [(ngModel)]="person.rentenbeginn"
        >

      </td>

    </tr>


    <!-- ================================================= -->
    <!-- ZUSAGEDATUM -->
    <!-- ================================================= -->

    <tr>

      <th>
        Zusagedatum
      </th>

      <td>

        <span *ngIf="!editMode">
          {{ person.zusagedatum | germanDate }}
        </span>

        <input
          *ngIf="editMode"
          type="date"
          [(ngModel)]="person.zusagedatum"
        >

      </td>

    </tr>


    <!-- ================================================= -->
    <!-- VERSTORBEN AM -->
    <!-- ================================================= -->

    <tr>

      <th>
        Verstorben Am
      </th>

      <td>

        <span *ngIf="!editMode">
          {{ person.verstorbenAm | germanDate }}
        </span>

        <input
          *ngIf="editMode"
          type="date"
          [(ngModel)]="person.verstorbenAm"
        >

      </td>

    </tr>


    <!-- ================================================= -->
    <!-- BEMERKUNG -->
    <!-- ================================================= -->

    <tr>

      <th>
        Bemerkung
      </th>

      <td>

        <span *ngIf="!editMode">
          {{ person.bemerkung }}
        </span>

        <input
          *ngIf="editMode"
          type="text"
          [(ngModel)]="person.bemerkung"
        >

      </td>

    </tr>

  </table>


  <div class="button-container">


    <!-- ================================================= -->
    <!-- NUR ADMIN: BEARBEITEN -->
    <!-- ================================================= -->

    <ng-container *ngIf="isAdmin">

      <button
        class="add-button"
        *ngIf="!editMode"
        (click)="toggleEditMode()"
      >
        Personalstammsatz bearbeiten
      </button>


      <button
        class="add-button"
        *ngIf="editMode"
        (click)="saveChanges()"
      >
        Speichern
      </button>

    </ng-container>


    <!-- ================================================= -->
    <!-- ADMIN + READONLY: DATEN ANZEIGEN -->
    <!-- ================================================= -->

    <button
      class="add-button"
      (click)="navigateToShowRentenerstberechnungteil1()"
    >
      Rentenerstberechnungteil1
    </button>


    <button
      class="add-button"
      (click)="navigateToShowRentenerstberechnungteil2()"
    >
      Rentenerstberechnungteil2
    </button>


    <button
      class="add-button"
      (click)="navigateToEhegattenDaten()"
    >
      Ehegatten Daten
    </button>


    <button
      class="add-button"
      (click)="navigateToPensionsDaten()"
    >
      Pensions & Ruhegeldfähige Daten
    </button>


    <button
      class="add-button"
      (click)="navigateToDatenbzglderlaufendenrente()"
    >
      Daten bzgl. der laufenden Rente
    </button>


    <button
      class="add-button"
      (click)="navigateToPersonaldatenzumverbliebenenangehoerigen()"
    >
      Personaldaten zum verbliebenen Angehörigen
    </button>


    <button
      class="add-button"
      (click)="navigateToPersonaldatenVerstorbener()"
    >
      Personaldaten zum verstorbenen Angehörigen
    </button>


    <!-- ================================================= -->
    <!-- ADMIN + READONLY: EXPORT -->
    <!-- ================================================= -->

    <button
      class="add-button"
      (click)="exportPersonData()"
    >
      Daten exportieren in CSV
    </button>


    <button
      class="add-button"
      (click)="exportPersonDataToTxt()"
    >
      Daten exportieren in TXT
    </button>


    <!-- ================================================= -->
    <!-- NUR ADMIN: KRITISCHE AKTIONEN -->
    <!-- ================================================= -->

    <ng-container *ngIf="isAdmin">

      <button
        class="add-button"
        (click)="deletePerson()"
      >
        Personenstammsatz löschen
      </button>


      <button
        class="add-button"
        (click)="markAsDeceased()"
      >
        Person als verstorben markieren
      </button>

    </ng-container>


    <!-- ================================================= -->
    <!-- ADMIN + READONLY -->
    <!-- ================================================= -->

    <button
      class="add-button"
      (click)="navigateToPersonlist()"
    >
      Zurück zur Personenübersicht
    </button>

  </div>

</div>