<div class="personal-daten-details">

  <h2>
    Personaldaten zum verbliebenen Angehörigen
  </h2>


  <table class="person-table">


    <!-- ================================================= -->
    <!-- NAME -->
    <!-- ================================================= -->

    <tr>

      <th>
        Name
      </th>

      <td>

        <span *ngIf="!editMode">
          {{ personaldaten.name }}
        </span>

        <input
          *ngIf="editMode"
          type="text"
          [(ngModel)]="personaldaten.name"
        >

      </td>

    </tr>


    <!-- ================================================= -->
    <!-- GEBURTSDATUM -->
    <!-- ================================================= -->

    <tr>

      <th>
        Geburtsdatum
      </th>

      <td>

        <span *ngIf="!editMode">
          {{ personaldaten.geburtsdatum | germanDate }}
        </span>

        <input
          *ngIf="editMode"
          type="date"
          [(ngModel)]="personaldaten.geburtsdatum"
        >

      </td>

    </tr>


    <!-- ================================================= -->
    <!-- PROZENTSATZ -->
    <!-- ================================================= -->

    <tr>

      <th>
        Prozentsatz
      </th>

      <td>

        <span *ngIf="!editMode">
          {{ personaldaten.prozentsatz }}
        </span>

        <input
          *ngIf="editMode"
          type="number"
          [(ngModel)]="personaldaten.prozentsatz"
        >

      </td>

    </tr>


  </table>


  <!-- ================================================= -->
  <!-- NUR ADMIN -->
  <!-- ================================================= -->

  <ng-container *ngIf="isAdmin">

    <button
      *ngIf="!editMode"
      (click)="toggleEditMode()"
    >
      Edit Details
    </button>


    <button
      *ngIf="editMode"
      (click)="saveChanges()"
    >
      Save Changes
    </button>


    <button
      (click)="deletePersonaldatenZumVerbliebenenAngehoerigen()"
    >
      Daten zum verbliebenen Angehörigen löschen
    </button>

  </ng-container>


  <!-- ================================================= -->
  <!-- ADMIN + READONLY -->
  <!-- ================================================= -->

  <button
    (click)="navigateToPersonDetail()"
  >
    Zurück zu Stammdatenbereich
  </button>

</div>